/* Styles for testing submodules */

body {
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}

h1 {
    font-size: 28px;
    color: brown;
}

a {
    padding: 2px;
    border-bottom: 1px dashed #0088CC;
    text-decoration: none;
    color: #0088CC;
    background: lightyellow;
    border-radius: 2px;
}
